.secondPage {
    margin-top: 100vh;
}
.firstpage {
    position: fixed;
    top: 0;
}

.thereceiptproject {
    padding: 40px 0;
    color: #0F2841;
    font-size: 46px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 300;
    height: 100vh;
    background: url("../img/thereciptproject.png") no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 100;
    box-shadow: 0 -20px 100px #0F2841;
}

.interested {
    bottom: 20px;
    position: absolute;
    left: 0;
    right: 0;
    .interested-btn {
        cursor: pointer;
        background-color: #0F2841;
        color: white;
        max-width: 300px;
        font-size: 20px;
        text-transform: uppercase;
        margin: auto;
        padding: 20px;
    }
}

.venstreDiv {
    .OngoingProjects {
        color: #0F2841;
        margin-top: 30px;
        font-size: 24px;
        font-weight: 400;
    }
    >p {
        font-size: 18px;
    }
    color: #0F2841;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: normal;
}

.høyrediv {
    p {
        color: #0F2841;
        font-size: 24px;
        font-weight: 400;
    }
    color: #0F2841;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: normal;
}

.benefits {
    height: 100%;
    margin-top: 10px;
    .react-tabs__tab--selected {
        background-color: #0F2841;
    }
    .benefitsbutton.react-tabs__tab--selected {
        cursor: auto;
        color: white;
    }
    .benefitsbutton {
        position: relative;
        width: 100%;
        cursor: pointer;
        font-size: 18px;
    }
    .benefitsbox {
        background-color: #0F2841;
        height: 100%;
        width: 100%;
        min-height: 300px;
        padding: 20px;
        .idea{
            height: 60px;
            width: 60px;    
        }
        p{
            color: white;
            font-size: 18px;
        }
    }
    .benefitsbuttons {
        display: flex;
        justify-content: space-around;
    }
}

.Modal-modal-0-1-3 {
    padding: 50px;
}

.hoveddiv {
    display: flex;
    margin-top: 20px;
    >div {
        padding: 0 20px;
        width: 50%;
    }
}

.bedrift {
    box-shadow: 0 0 10px rgba(15, 40, 65, 0.1);
    cursor: pointer;
    height: 100px;
    width: 100px;
    background-color: white;
    margin-top: 10px;
    border-radius: 50px;
    position: relative;
    img {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 80px;
        vertical-align: middle;
        max-width: 80px;
        margin: auto;
    }
}

.GlobalBlue {
    img {
        width: 60px;
    }
}

.bsmart {
    img {
        width: 60px;
    }
}

.bedrifter {
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-overflow-scrolling: touch;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}

.Modal-modal-0-1-3 {
    width: 100%;
    max-width: 600px;
}

.Modal-modal-0-1-3 form {
    width: 100%;
}

.Modal-modal-0-1-3 input {
    width: 100%;
    margin: auto;
    background: #0F2841;
    color: white;
    margin-top: 40px;
    opacity: 1;
}

form textarea {
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 100;
    text-indent: 10px;
    padding-top: 10px;
    border: none;
    margin-top: 10px;
}

form textarea {
    display: block;
    background: #0F2841;
    color: white;
}

.Modal-modal-0-1-3 ::-webkit-input-placeholder {
    opacity: 0.6;
    color: white;
}

.Modal-modal-0-1-3 ::-moz-placeholder {
    color: white;
}

.Modal-modal-0-1-3 :-ms-input-placeholder {
    color: white;
}

.Modal-modal-0-1-3 :-moz-placeholder {
    color: white;
}

.Modal-modal-0-1-3 .interested {
    position: relative;
    bottom: unset;
    margin-top: 10px;
}
.Modal-modal-0-1-3 .interested-btn {
    text-align: center;
    margin-top: 20px;
}

.class-name button {
    display: none;
}
.class-name button:nth-child(4) {
    display: block !important;
    position: absolute;
    left: 50px;
    bottom: 50px;
    opacity: 0.1;
}

@mixin mobile-receipt-project() {
    .interested .interested-btn {
        font-size: 14px;
    }
    .thereceiptproject {
        box-shadow: 0 0px 100px #0F2841;
        padding: 5px 10px;
    }
    .bedrifter {
        display: block;
        overflow-x: scroll;
        width: auto;
        white-space: nowrap;
        .bedrift {
            height: 70px;
            width: 70px;
            margin-right: 10px;
            display: inline-block;
            img{
                width: 50px;
            }
        }
        >div {
            display: inline-block;
        }
    }
    .hoveddiv {
        display: block;
        margin: 0;
        margin-top: 10px;
        >div {
            width: 100%;
            padding: 0;
        }
        .venstreDiv>p {
            font-size: 14px;
            line-height: 1.6;
        }
        .høyrediv>p {
            font-size: 14px;
            line-height: 1.6;
        }
        .benefitsbutton {
            font-size: 12px;
        }
        .benefitsbox {
            min-height: 200px;
            p{
                font-size: 14px;
        line-height: 1.5;
            }
        }
    }
}

@mixin mobile-landscape-receipt-project() {
    .thereceiptproject {
        padding: 5px 10px;
    }
}