.halo {
    padding: 40px;
    color: #0F2841;
    font-size: 46px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 300;
    height: 100vh;
    background: url("../img/thereciptproject.png") no-repeat center;
    background-size: cover;
}

.venstreDiv {
    .OngoingProjects {
        color: #0F2841;
        margin-top: 30px;
        font-size: 24px;
        font-weight: 400;
    }
    margin: 40px 0px;
    color: #0F2841;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: normal;
    width: 50%;
}

.høyrediv {
    p {
        margin: 40px;
    }
    color: #0F2841;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: normal;
    width: 50%;
}

.hoveddiv {
    display: flex;
    width: 100%;
}


.bedrift {
    height: 100px;
    width: 100px;
    background-color: white;
    margin-top: 10px;
    border-radius: 50px;
    position: relative;
    img{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 80px;
        vertical-align: middle;
        max-width: 80px;
        margin: auto;
    }  

}

.GlobalBlue {
    img{width: 60px;}
    }
.bsmart {
    img{width: 60px;}
}

.bedrifter {
    padding: 0;
    margin: 0;
    list-style: none;
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
  }